# Web Framework
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
python-dotenv>=1.0.0

# Database
sqlalchemy>=2.0.25

# Data & Analysis
pandas>=2.2.0
pandas-ta>=0.4.71b0
numpy>=1.26.3
yfinance>=0.2.35

# Cache
redis>=5.0.0

# Utils
pydantic>=2.10.0
python-multipart>=0.0.6
